.profile-section-top{
    /* background-image: url(../../Utilis/images/headerBack-img.png);
    background-size: cover;
    background-repeat: no-repeat; */
    height:100px;

}

.css-1wuw8dw-MuiBreadcrumbs-separator{
    color:#FFFFFF;
   
}

.profile-section-bottom{
    height: 130vh;
    margin-left: 50px;
    margin-top:100px;
    display: flex;
    justify-content: flex-start !important;

}

/* .hi{
    color:#FED047
} */



/* .css-19kzrtu {
    width: 70% !important;
} */

.css-1n3h4wo{
    display: flex;
}


.profile-form{
    display: flex; 
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
    margin: 50px !important;
 

}








/* Start Tab Style */

/* .MuiBox-root{
    
    justify-content: flex-start ;
    gap:40px;

} */
.css-1n3h4wo{
    justify-content: flex-start ;
    gap:40px; 
}


.tabs{
    background-color: #FFFFFF !important;
    border-radius: 20px;
    border: 2px solid #EEEEEE;
}
.tab{
    /* display: flex; */
    flex-direction: row !important;
    justify-content: flex-start !important;
    color:#FFFFFF;
}



/* .css-aym9vq-MuiButtonBase-root-MuiTab-root{
} */

.css-aym9vq-MuiButtonBase-root-MuiTab-root{
    /* color:#0C1B32 !important; */
    gap:15px;
    border-bottom: 1px solid #EEEEEE !important;

}

.css-1n3h4wo {
   
    height: 314px !important;
}

.css-1ehaqqx-MuiButtonBase-root-MuiTabScrollButton-root {
    display: none;
}

.css-35zqo5-MuiTabs-root {

    width: 17%;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    color: #FFFFFF !important;
}

.css-10d9dml-MuiTabs-indicator {
   
    background-color:#71BBB0 !important;
   
}

.css-aym9vq-MuiButtonBase-root-MuiTab-root.Mui-selected {
 
    color:#FFFFFF !important;
    background-color: #71BBB0;
    border-bottom: 1px solid #EEEEEE;
}

.css-aym9vq-MuiButtonBase-root-MuiTab-root>.MuiTab-iconWrapper:hover {
   color:#71BBB0 !important;
}

.css-141wbr0-MuiTypography-root {
   
    text-align: left !important;
    background-color: #71BBB0;
    margin-bottom: 0px !important;
    width: 222px !important;
    height: 52px !important;
      
    
   
}





