.house-card{
    position: relative;
}

.css-gbgbbz-MuiCardMedia-root {
    height: 280px !important;
    width: 320px;
    border-radius: 30px 30px 0px 0px;
}
.css-1ri6ub7-MuiPaper-root-MuiCard-root{

    border-radius: 30px !important;
    border:2px solid #E0E3EB;  
}

.card-content-top{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-left: 20px;
    FLEX-DIRECTION: column-reverse;

}

.card-title{
    font-size:1.4rem; 
    
}

.card-title{
    margin-top: 3px;
    margin-bottom: 12px;
}

.card-price{
     padding-right: 35px;
    margin-bottom: 9px;
    margin-top: 0;
    font-size: 1.6rem !important;
}


.card-image{
    position: relative;

}
.fav-card{
   position: absolute;
   background-color:#FFFFFF;
   width:30px;
    height:30px;
    top: 11px;
    right: 11px;
    border-radius: 50px;
    
}
.fav-card-icon{
    position: absolute;
    top: 4px;
    left: 3px;
    color:#71BBB0;

}


.card-description{
    padding:0px 19px;
    font-size:18px;
    color:#646464;
    text-align: left;
    margin: 0%;
   
}
.css-i4bv87-MuiSvgIcon-root{
    margin: 0%;
}

.css-i1hrn3-MuiTypography-root{
    font-weight: 500 !important;
    font-size: 1.4rem !important;
    margin-bottom:0% !important;
}


.cards-icon{
    display: flex;
    justify-content: flex-start;
    gap: 14px;
    margin-top: 10px;
    padding-left: 25px;
    margin-bottom: 20px;
}

.icon{

    margin-top: 9px !important;
}

.seeDetails-btn{

    background-color: #fef1db;
    border:none;
    border-radius: 50px;
    color:#F59E0B;
    padding:10px 19px;
    margin: 0px auto 15px auto;  
    text-decoration: none; 
    font-size: 1.1rem;
}

.seeDetails-btn-link{
    text-decoration: none;
    color:#F59E0B;
}
.bed-icon-land , .bath-icon-land{
    display: flex;
    justify-content: center;
    gap: 9px;
    align-items: flex-end;
}
.type-btn{
    position: absolute;
    border: none;
    height: 45px;
    left: 12px;
    top: 220px;
    border-radius: 50px;
    width: 120px;
    font-size: 15px;
    text-align: end;
    display: flex;
    justify-content: center;
    align-items: center;
}
