.myHouses{
    display: flex;
    position: relative;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    margin-bottom: 15px;
}

#vertical-tabpanel-2{
    width:60%;
   
}


.myHouses-img img{
    width:200px;
    height:150px;
    margin:20px;
    border-radius: 15px;
}



.myHouses-titel{
    margin-top: 20px !important;
}



.house-cards-icon{
    display: flex;
    gap:30px;
}

.beds-icon ,.baths-icon ,.locations-icon{
  display: flex;
}


.css-jg9ias-MuiTypography-root {
    margin: 23px 0px 0px 10px !important;
   
}

.myHouses-price ,.myHouses-titel{
    font-family: 'Bree Serif', serif !important;
    
}

.myHouses-icons{   
 position: absolute; 
 right: 0 !important;  
 padding:30px;
 display: flex;
 flex-direction: column;
}



.delete-icon{
    color:rgb(249, 104, 104) !important;
    border:1px solid #dbdbdb;
    border-radius: 5px;
    padding:2px !important;
}

.dialoge-content{
    color:#71BBB0 !important;
}

.css-1jll2gc-MuiTypography-root{
    color:#71BBB0 !important;

}
.css-1jzaeg-MuiTypography-root{
    color:#71BBB0 !important;

}













