.navbar{
    background-image:  url("../../Utilites/img/Group\ 55778.png");
    background-size: cover;
    height: 400px;
    width: 100vw;
    background-repeat:no-repeat;
    z-index: -2;
}

.Logo{
    width:60px;
    height:42px;
    padding-left: 66px;
}
.MuiBox-root{
    justify-content: center;
    gap:40px;

}



  /* hero section */

  .hero-section{
    display: flex;
    height:100vh;
    width: 100%;
 
  }

  .hero-content{
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height:70vh;
    width: 100%;
    padding-left: 6rem;
    line-height: 2rem;
  }
  .css-1sra7t5-MuiTypography-root{
    font-size: 3.5rem !important;
    font-weight:600 !important;
    color: #000;

  }

.hero-subtitle{
    font-size: 23px;
    padding-top: 20px;
    color:#626687;
}
.search{
    position:relative;

}
.hero-searchInput{
    width:30vw;
    padding: 10px;
    height: 44px; 
    border-radius: 50px;
    border:2px solid #E0E3EB;  
    margin-top: 20px;


}
.PlaceIcon{
    color: #000;
}

.serach-btn{
    position: absolute;
    border: none;
    height: 44px;
    left: 410px;
    top: 20px;
    border-radius: 50px;
    background-color: #71BBB0;
    width: 100px;
    color: #ffff;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: space-around ;
    align-items: center;
}
.ChevronRightIcon{
    color:#fff;
}



