
.Logo{
    width:60px;
    height:42px;
    padding-left: 66px;
}
.css-1t6c9ts{
justify-content: center;
gap:40px;

}

.css-11b3ww9-MuiPaper-root-MuiAppBar-root{
    box-shadow: none !important;
    background-color: #F0FAFD !important;
}





.login-btn{
    width:8vw;
    height:40px;
    background-color: #71BBB0; 
    border:none;
    border-radius: 50px;
    color:#FFFFFF;
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif !important;
    margin-right:10px; 
    
}

.signup-btn{
    border-radius: 50px;
    background-color: #71BBB0;
    border:2px solid #71BBB0;
    width: 8vw;
    height:40px;
    color:#FFFFFF;
    font-family: 'Bree Serif', serif !important;
    font-size: 1.2rem;
   
}
.nav-links{
    color:#047857;
    text-decoration: none;
    font-family: 'Bree Serif', serif !important;
    font-weight: 700;
    font-size: 17px;

}

.nav-Profile{
text-decoration: none;

}
.sec-Profile{
    display: flex;
    flex-direction: column;
}