/* *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
} */
/* .navbar{
    background-image:  url("../../Utilites/img/Group\ 55778.png");
    background-size: cover;
    height: 400px;
    width: 90vw;
    background-repeat:no-repeat; */
    /* z-index: -2; */
/* } */

.Logo{
    width:60px;
    height:42px;
    padding-left: 66px;
}
.MuiBox-root{
    justify-content: center;
    gap:40px;

}
.css-11b3ww9-MuiPaper-root-MuiAppBar-root{
    box-shadow: none !important;
    background-color: #F0FAFD !important;
}
/* .css-11b3ww9-MuiPaper-root-MuiAppBar-root */
/* .css-11b3ww9-MuiPaper-root-MuiAppBar-root{
    position: relative !important;
} */




