
.footer-section{
    background-image:  url("../../Utilites/img/footer.png");
    background-size: cover;
    width:100%;
    background-repeat:no-repeat; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    height :440px;
    
}

.foter-logo{
display: flex;
justify-content: flex-start;
align-items: center;
}
.footerIcon{
    width:50px;
    height: 50px;
    padding:5px;
}

.footer-title{
    color:#0E1735;
    
}
.footer-section-left{
    width: 30%;
display: flex;
flex-direction: column;
gap: 11px;
align-items: flex-start;
}
.footer-section-center,.footer-section-right{
    color:#888B97 !important;
    padding:3px;
}

.footer-contact, .footer-section-center {
    padding:2px;
}

.footer-contact-icons{
    display: flex;
    justify-content: center;
    gap:10px;
    color:#888B97 !important;

}

.footer-links{
    text-decoration: none;
    font-size:0.8rem;
    color:#888B97 !important;

}
.footer-section-right{
    display: flex;
    flex-direction: column;
    gap: 9px;
    

}
.footer-section-center{
    display: flex;
    flex-direction: column;
    gap: 9px;
    color:#888B97 !important;


}