
.footer-section{
    /* position:fixed;
    bottom: 0; */
    background-image:  url("../../Utilites/img/footer.png");
    background-size: cover;
    width:100%;
    background-repeat:no-repeat; 

    display: flex;
    justify-content: space-around;
    /* background-color: red; */
    align-items: center;
    height :440px;
    
}

.foter-logo{
display: flex;
justify-content: flex-start;
align-items: center;
}
.footerIcon{
    width:50px;
    height: 50px;
    padding:5px;
}

.footer-title{
    color:#0E1735;
    
}
.footer-section-left{
    width: 30%;

}
.footer-section-center,.footer-section-right{
    color:#888B97;
    padding:3px;
    /* width: 30%; */
}

.footer-contact, .footer-section-center {
    padding:2px;
}

.footer-contact-icons{
    display: flex;
    justify-content: center;
    gap:10px;
}

.footer-links{
    color:#FFFFFF;
    text-decoration: none;
    font-size:0.8rem;
}