.about-section{
    display: flex;
    justify-content: space-around;
    width: 91%;
    margin-top: 6%;
    padding-left: 7%;
}

.about-section-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #1D1D1B;
    font-size: 23px;
    line-height: 163%;
}
.about-section-right img{
    width:300px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about-subtitle{
    color: #71BBB0;
    font-weight: 700 !important;
    padding-bottom: 4%;
}
.about-title{
    margin-top: 10% !important;
    text-align: center;

}